/* Global */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container */

.container {
  margin: 0 auto;
  width: 600px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  width: 33.33%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 157, 143);
  color: white;
  border: none;
  font-size: 16pt;
}
button:hover {
  background-color: rgb(62, 177, 163);
}
button:first-child {
  border-radius: 10px 0 0 10px;
}
button:last-child {
  border-radius: 0 10px 10px 0;
}

/* Board */

.grid {
  margin-top: 50px;
  height: 600px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60pt;
}
.grid :nth-child(3n-1) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.grid :nth-child(n+4):nth-child(-n+6) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.win {
  background-color: #e9c46a;
}

/* Score */

.scorebox {
  margin: 0 auto;
  display: flex;
  width: 400px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  background-color: rgb(42, 157, 143);
  color: white;
}
.score:hover {
  background-color: rgb(62, 177, 163);
}
.score:first-child {
  border-radius: 10px 0 0 10px;
}
.score:last-child {
  border-radius: 0 10px 10px 0;
}

.score span {
  margin: 10px;
}

/* Highlighting */

.selected {
  background-color: rgb(38, 70, 83);
}
.selected:hover {
  background-color: rgb(58, 90, 103);
}